<div class="wrapper">
  <div class="uk-child-width-1-3@l uk-text-center" uk-grid-parallax="translate:200">
    <%= render 'artworks/card' %>
  </div>
</div>

<div id="map" style="width: 50%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <script type="text/javascript">
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function(){
      markers = handler.addMarkers(<%= raw @markers.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
  </script>
<% end %>
