<h2><%= @artwork.name %></h2>

<% if @user.geocoded? %>
  <div id="show-map" style="width: 50%; height: 600px;"></div>

  <% content_for(:after_js) do %>
    <script type="text/javascript">
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'show-map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(16);
      });
    </script>
  <% end %>
<% end %>
